$DarkGrayishBlue: hsl(217, 19%, 24%);
$LightCyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);
$GrayishBlue: #313a49;
$DarkBlue: #202632;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $DarkBlue;
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.adviceCard {
  width: 600px;
  height: auto;
  margin: 25px;
  padding: 40px;
  border-radius: 15px;
  background-color: $GrayishBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  .advice-quote, .advice-loading {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 28px;
    color: $LightCyan;
  }

  .advice-id {
    font-size: 14px;
    color: $NeonGreen;
    font-weight: 300;
    letter-spacing: 3px;
  }

  img {
    width: 100%;
    height: 100%;
    margin: 10px;
  }

  .randomButton {
    all: unset;
    position: absolute;
    bottom: -30px;
    border-radius: 50%;
    background-image: url("./assets//icon-dice.svg");
    background-color: $NeonGreen;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 200ms;
    &:hover {
      box-shadow: 0 0 30px $NeonGreen, 0 0 10px inset $NeonGreen;
    }
  }
}